body{
  font-family:sans-serif;
}

.hero{
  height:100vh;
  background:url("https://images.unsplash.com/photo-1506744038136-46273834b3fb") center/cover;
}

.overlay{
  height:100%;
  background:rgba(0,0,0,.45);
}

.hero-content{
  color:white;
  padding-top:250px;
}

.hero h1{
  font-size:4rem;
  font-weight:bold;
}

.hero h2{
  color:#F4A261;
}

.section-title{
  text-align:center;
  margin-bottom:40px;
  font-weight:bold;
  color:#0A2647;
}

.card{
  transition:.3s;
}

.card:hover{
  transform:translateY(-10px);
}

.food-box{
  background:#f8f9fa;
  padding:25px;
  border-radius:15px;
  margin-bottom:20px;
  font-size:2rem;
}

.timeline{
  max-width:700px;
  margin:auto;
}

.timeline-item{
  background:white;
  padding:20px;
  margin-bottom:15px;
  border-left:5px solid #F4A261;
  box-shadow:0 2px 8px rgba(0,0,0,.1);
}

footer{
  background:#0A2647;
  color:white;
  padding:40px;
}

@media(max-width:768px){

  .hero h1{
    font-size:2.5rem;
  }

  .hero-content{
    padding-top:200px;
  }

}